body {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: aquamarine;
    display: flex;
    padding: 16px;
    justify-content: space-between;
}

.header-right {
    display: flex;
    gap: 10px

}

.top {
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: blueviolet;
}

.top-left{
    display: flex;
    flex-direction: column;
}


